/*
* File: style.ccs
* Author: Bús Tamás
* Copyright: 2025, Bús Tamás
* Group: Szoft N/I
* Date: 2025-04-09
* Github: https://github.com/janos12345/
* Licenc: MIT
*/
.container{
    background-color: green;
    height: 100dvh;
}
.about{
    background-color: blue;
    padding: 5px;
    border-radius: 3px;
}